/*
 * Header
 *========================================
 */

.header {
  // background: map-get($palette, 'dark');

  a {
    //color: map-get($palette, 'slate');
    display: block;
    font-weight: 200;
    padding: 0 rem(16);
    //padding: rem(16) rem(24);

    &:hover,
    &:focus {
      //background-color: map-get($palette, 'slate');
      //color: map-get($palette, 'dark');
    }

    &:active {
      //background-color: map-get($palette, 'red');
      //color: map-get($palette, 'dark');
    }
  }
}

.header__nav,
.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: inline-block;
  padding: rem(16) rem(24);
  vertical-align: middle;
}
