/*
 * Gri
 *========================================
 */

.grid {
  padding:0 rem(16);
  width: 100%;
}

.grid__col {
  display: block;
  width: 100%;
}


.grid__col--half {
  @include on(640) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

.grid__col--third {
  @include on(640) {
    display: inline-block;
    vertical-align: top;
    width: percentage(1/3);
  }
}
