/*
 * Links
 *========================================
 */

a {
  color: map-get($palette, 'yellow');
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: .3s;

  &:before {
    background: map-get($palette, 'grey');
    bottom: 5%;
    content: "";
    height: 30%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    transition: .3s;
    width: 100%;
  }

  &:hover,
  &:focus {
    //color: map-get($palette, 'mint');
    outline: none;

    &:before {
      bottom: 20%;
      height: 60%;
    }
  }

  &:active {
    //color:map-get($palette, 'text');
    outline: none;

    &:before {
      bottom: 0%;
      height: 100%;
    }
  }
}
